:root {
    /* 配色方案 */
    --light-bg: rgb(247, 233, 209);
    --medium-bg: rgb(243, 222, 165);
    --yellow-color: yellow;
    --light-blue-color: rgb(187, 255, 255);
    --blue-color: cyan;
    --dark-blue-color: blue;
    --orange-color: rgb(255, 102, 0);
    --light-red-color: rgb(252, 218, 218);
    --light-green-color: rgb(200, 255, 200);
    --light-yellow-color: rgb(255, 223, 164);
    --high-light-color: #ebff66;
    --green-color: green;
    --red-color: red;
    --loading-bg-color-1: #ffdada;
    --loading-bg-color-2: #fffdc1;
    --disabled-bg: rgb(224, 224, 224);
    --disabled-color: #9e9e9e;
    --default-btn-color: initial;
    --default-btn-bg: white;
    --button-hover-color: rgb(227, 249, 250);
    --button-active-color: rgb(206, 222, 253);
}

a {
    text-decoration: none;
    background-color: var(--medium-bg);
    padding: 3px;
    border-radius: 3px;
    color: var(--dark-blue-color);
    transition-duration: .3s;
}

a:hover {
    color: var(--green-color);
}

button {
    color: var(--default-btn-color);
    background-color: var(--default-btn-bg);
    font-family: initial;
    border: none;
    border-bottom: 1px solid black;
    padding: 3px 6px;
    margin-left: 3px;
    margin-right: 3px;
    transition-duration: .2s;
    border-radius: 3px;
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
}

button:disabled {
    color: var(--disabled-color);
    background-color: var(--disabled-bg);
}

header {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

input:not(input[type=file]) {
    border: none;
    border-radius: 5px;
    padding: 3px;
    border-bottom: 1px solid gray;
}

input:not(input[type=file]):focus {
    outline: none;
    border: 1px solid black;
    background-color: azure;
}

@keyframes fillBackground {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}